.quadro{
    background-color: white;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
    height: 45vw;

    ::ng-deep .painel{
        position: relative;
        
        background-color: white;
        height: 175px;
        width: 85vw;
        left: 4vw;
        top: 2vw;

        input{
            border: solid 1px;
            width: 100%;
            height: 25px;
        }
    
        .btn-categoria{
            display: inline-flex;
            margin-left: 64vw;
            
            .btn{
                margin-top: 5px;
                padding-left: 24px;
            }
        }
        
    
        .listar-categoria{
            position: relative;
            border: solid 1px;
        }
    
        .p-panel .p-panel-header{
            background-color: #4153b3;
            color: white;

            
        }
        
       .btn-endereco{
        position: relative;
        top: 15px;
       }

       .btn-telefone{
        position: relative;
        top: 10px;
        left: 966px;
       }

       .btn-email{
        position: relative;
        top: 10px;
        left: 358px;
        bottom: 20px;
       }

       .lista{
        position: relative;
        top: 20px;    
    }
       
    }

    
}



