<div class="painel">
    <p-panel header="Pesquisar" class="Pesquisar">
       <div class="grid">
        <div class="col-11">
            <label for="">Nome</label><br>
            <input type="text" pInputText/>
        </div>
        <div class="col-1">
            <label for="">Situação</label><br>
            <input type="text" pInputText/>
        </div>
     
            <p-button label="Pesquisar" class="btn-categoria"></p-button>
            <p-button label="Limpar" class="btn-categoria"></p-button>
   
       </div>
    </p-panel>
  
    
</div>


