<div class="painel">
    <p-panel header="Pesquisar" class="Pesquisar">
       <div class="grid">
        <div class="col-11">
            <label for="">Nome</label><br>
            <input type="text" pInputText/>
        </div>
        <div class="col-1">
            <label for="">Situação</label><br>
            <input type="text" pInputText/>
        </div>
     <div class="btn-categoria">
            <p-button label="Pesquisar" class="btn"></p-button>
            <p-button label="Limpar" class="btn"></p-button>
        </div>
       </div>
    </p-panel>    
</div>

<div class="painel">
    <p-panel header="Listar Categorias" class="Pesquisar">
        
    </p-panel>    
</div>


