.quadro{
    background-color: white;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
    height: 40vw;

    ::ng-deep .painel{
        position: relative;
        
        background-color: white;
        height: 175px;
        width: 80vw;
        left: 6vw;
        top: 2vw;
        font-family: 'ArialMT', 'Arial', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        color: #FFFFFF;
    
    
        input{
            border: solid 1px;
            width: 70vw;
            height: 2vw;
        }
    
        .btn-categoria{
            display: inline-flex;
            margin-left: 50.3vw;
            
            .btn{
                margin-top: 5px;
                padding-left: 24px;
            }
        }
        
    
        .listar-categoria{
            position: relative;
            border: solid 1px;
        }
    
        .p-panel .p-panel-header{
            background-color: #4153b3;
            color: white;

            
        }
        
        .btn-cabecalho{
            position: relative;
            left: 1270px;
        }
       
        
       
    }

    
}



