.col-2{
    height: 100px;    
    .icon-toten-header{
        position: relative;
        top: 15%;
        left: 5%;
    }
   

}

.col-2{
    
  .col-12{
    position: relative;
    top: 15%;
    .sistema-de-onboarding{
        width: 300px;
        height: 21px;
        background-color: rgba(255, 255, 255, 0);
        box-sizing: border-box;
        font-family: "Arial", sans-serif;
        font-weight: 700;
        color: #000000;
        text-align: left;
        line-height: normal;
        font-size: large;
    }

    .treinamento{
        position: relative;
        left: 40%;
        font-weight: 700;
        color: #000000;
        line-height: normal;
    }  
        width: 113px;
        height: 21px;
        background-color: rgba(255, 255, 255, 0);
        box-sizing: border-box;
        font-family: "Arial", sans-serif;
        font-size: large;
  }
}

.col-7{
    background-color: #4153b3;

    .col-12{
        position: relative;
        top: 15%;
        text-align: right;
        color: white;
    }

}

.col-1{
    background-color: #4153b3;
}

