.header{
    height: 76px;    
    
    .icon-toten-header{
        position: relative;
        left: 20px;
    }
   

}

.col-2{
    
    
  .col-12{
    position: relative;
    top: 9%;
    
    .sistema-de-onboarding{
        width: 300px;
        height: 21px;
        background-color: rgba(255, 255, 255, 0);
        box-sizing: border-box;
        font-family: "Arial", sans-serif;
        font-weight: 700;
        color: #000000;
        text-align: left;
        line-height: normal;
        font-size: large;
    }

    .treinamento{
        position: relative;
        left: 40%;
        font-weight: 700;
        color: #000000;
        line-height: normal;
    }  
        width: 113px;
        height: 21px;
        background-color: rgba(255, 255, 255, 0);
        box-sizing: border-box;
        font-family: "Arial", sans-serif;
        font-size: large;
  }
}

.col-7{
    
    background-color: #4153b3;

    .col-12{
        
        position: relative;
        top: 15%;
        text-align: right;
        color: white;
        font-family: 'ArialMT', 'Arial', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
        color: #FFFFFF;
    }

    
}

.col-1{
    
    background-color: #4153b3;
    
    .icon{
        position: relative;
        top: 10px;
    }

}

.col-1-menu{
    background-color: #2a3791;
    height: 45px;
    margin-left: 20px;
    margin-top: 5px;   
}



.opcoes-menu{
    
    position: relative;
    top: 8px;
    left: 9px;
}

.menu{
    background-color: #2a3791;
    width: 100%;
    .opcoes-menu{
        margin-top: 4px;
        margin-right: 35px;
        font-family: "Helvetica-Bold", "Helvetica Bold", "Helvetica", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 12px;
        color: #FFFFFF;
        float: right;
    
        i {
            font-size: 30px;
        }
        
    }
    
    
}



.footer{
    background-color: #2a3791;
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    

     
}

::ng-deep .grid{
    margin-right: 0;
}