<div class="background">
    <div class="panel-login">
        <div class="grid">
            <div class="col-2">
                <img src="assets/icon-toten.jpg" alt="">
            </div>
            <div class="col-10">
                <h1 class="text-login">Onboarding</h1>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <p class="text-description">Bem-vindo, utilize o formulário abaixo para efetuar o login.</p>
            </div>
        </div>
        <div class="grid">             
            <div class="col-12">
                <p class="label-input">Usuário</p>
                <input type="text" class="p-inputtext-sm" pInputText />
            </div>
            <div class="col-12">
                <p class="label-input">Senha</p>
                <input type="text" class="p-inputtext-sm" pInputText /><br>
                 <p-button label="Login" class="button-login"></p-button>
            </div>
           
        </div>
     
    </div>
</div>