<div class="quadro">
    <div class="painel">
        <p-panel header="Pesquisar">
           <div class="grid">
            <div class="col-8">
                <label for="">Nome</label><br>
                <input type="text" pInputText/>
                
            </div>
            <div class="col-2">
                <label for="">Situação</label><br>
                <div class="radio">
                    <p-radioButton name="groupname" value="ps4" formControlName="console" label="Ativo"></p-radioButton>         
                </div>   
            </div>
            
         <div class="btn-categoria">
            <p-button class="btn"><i class="pi pi-check" style="margin-right: 10px;"></i>Salvar</p-button>
            <p-button class="btn"><i class="pi pi-times-circle" style="margin-right: 10px;"></i>Limpar</p-button>
            </div>
           </div>
        </p-panel><br><br>      

                       
    </div>


   

</div>
