.quadro{
    background-color: white;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
    height: 700px;

    ::ng-deep .painel{
        position: relative;
        left: 5.2vw;
        top: 2vw;
        background-color: white;
        height: 175px;
        width: 80vw;
        
    
    
        input{
            position: relative;
            left: 3vw;
            border: solid 1px;
            width: 55vw;
            height: 30px;
            
        }
    
        .btn-categoria{
            display: inline-flex;
            margin-left: 61vw;
            
            .btn{
                margin-top: 5px;
                padding-left: 24px;
            }
        }
        
    
        .listar-categoria{
            position: relative;
            border: solid 1px;
        }
    
        .p-panel .p-panel-header{
            background-color: #4153b3;
            color: white;

            
        }

        .btn-cabecalho{
            position: relative;
            left: 63vw;
        }
        
       

       
    }

    
}



