<div class="quadro">
    <div class="painel">
        <p-panel header="Pesquisar">
           <div class="grid">
            <div class="col-1" >
                <label for="" style="margin-left: 1vw;">Categoria</label>
                <select id="cars" style="border: solid 1px ; padding: 5px; margin-left: 1vw;">
                    <option value="selecione">Selecione</option>
                    <option value="ativo">Física</option>
                    <option value="inativo">Juridica</option>
                  </select>
            </div>
            <div class="col-7">
                <label for="" style="margin-left: 2vw;">Nome</label><br>
                <input type="text" pInputText/>
            </div>
            <div class="col-1">
                <label for="">Situação</label>
                <select id="cars" style="border: solid 1px ; padding: 5px;">
                    <option value="selecione">Selecione</option>
                    <option value="ativo">Ativo</option>
                    <option value="inativo">Inativo</option>
                  </select>
            </div>
        <div class="btn-categoria">
            <p-button class="btn"><i class="pi pi-search" style="margin-right: 10px;"></i>Pesquisar</p-button>
            <p-button class="btn"><i class="pi pi-refresh" style="margin-right: 10px;"></i>Limpar</p-button>
        </div>
           </div>
        </p-panel><br><br>      

        <p-panel >
            <ng-template pTemplate="header">
                <p>Lista de Clientes</p>
                <p-button class="btn-cabecalho" routerLink="/layout/inserir-cliente"><i class="pi pi-plus" style="margin-right: 10px;" ></i>Adicionar</p-button>
            </ng-template>
            <p-table [value]="cliente">
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Categoria</th>
                        <th>Situação</th>
                        <th>Ações</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-cliente let-i="rowIndex">
                    <tr>
                        <td>{{ i + 1 }}</td>
                        <td>{{cliente.nome}}</td>
                        <td>{{cliente.cpf}}</td>
                        <td>{{cliente.situacao}}</td>
                        <td>
                            <i class="pi pi-trash"></i>
                            <i class="pi pi-pencil" style="margin-left: 20px;"></i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-panel> 
                
    </div>


   

</div>
