.quadro{
    background-color: white;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
    height: 45vw;

    ::ng-deep .painel{
        position: relative;
        background-color: white;
        width: 80vw;
        left: 5.5vw;
        top: 2vw;

        .grid{
            margin-left: 3vw;
        }


        
        input{
            margin-left: 0.5vw;
            width: 55vw;
            height: 1.5vw;
        }

        .btn-categoria{
            margin-left: 62.5vw;
            margin-top: 1vw;

            

        }

        

        .btn{
            margin-right: 1vw;
        }

       

        
        
    
        .listar-categoria{
            position: relative;
            border: solid 1px;
        }
    
        .p-panel .p-panel-header{
            background-color: #4153b3;
            color: white;

            
        }
        
        .btn-cabecalho{
            position: relative;
            left: 64vw;
            width: 5vw;
        }
       

       
    }

    
}



