.quadro{
    background-color: white;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
    height: 40.3vw;

    ::ng-deep .painel{
        position: relative;
        background-color: white;
        height: 175px;
        width: 80vw;
        left: 5.5vw;
        top: 2vw;
        
        input{
            width: 58vw;
            
            height: 1.5vw;
        }

        .btn-categoria{
            margin-left: 56.2vw;
            margin-top: 1vw;
            
            .btn{
                margin-top: 5px;
                padding-left: 24px;
            }
        }
        
    
        .listar-categoria{
            position: relative;
            border: solid 1px;
        }
    
        .p-panel .p-panel-header{
            background-color: #4153b3;
            color: white;

            
        }
        
        .btn-cabecalho{
            position: relative;
            left: 64vw;
            width: 5vw;
        }
       

       
    }

    
}



