.quadro{
    background-color: white;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 15px;
    height: 42vw;

    ::ng-deep .painel{
        position: relative;
        background-color: white;
        height: 175px;
        width: 86vw;
        left: 3vw;
        top: 2vw;
    
        .form{
            position: relative;
            top: 0.1vw;
        }

        input{
            border: solid 1px;
            width: 100%;
            height: 30px;
        }       
      
        .p-panel .p-panel-header{
            background-color: #4153b3;
            color: white; 

            
        }

        .col-2{
            position: relative;
            left: 0.6vw;
            top: 1vw;
        }
        
        
        .btn-inserir-categoria{
            display: inline-flex;
            margin-left: 67vw;
            margin-top: 1vw;

            .btn{
                margin-top: 15px;
                padding-left: 24px;
            }
        }
       

       
    }

    
}



