<div class="quadro">
    <div class="painel">
        <p-panel header="Pesquisar">
           <div class="grid">
            <div class="col-6">
                <label for="">Nome</label><br>
                <input type="text" pInputText/>
                
            </div>
            <div class="col-2">
                <label for="">Categoria</label><br>
                <input type="text" pInputText/>
            </div>

            <div class="col-2">
                <label for="">Situação</label><br>
                <form [formGroup]="form">
                    <p-radioButton name="ativo" value="ps4" formControlName="ativo" label="Ativo" style="margin-right: 10px "></p-radioButton>  
                    <p-radioButton name="desativo" value="ps4" formControlName="desativo" label="Inativo"></p-radioButton>       
                </form>                  
            </div>
            <div class="btn-inserir-categoria">
                <p-button class="btn"><i class="pi pi-check" style="margin-right: 10px;"></i>Salvar</p-button>
                <p-button class="btn"><i class="pi pi-times-circle" style="padding-left: 10px; margin-right: 10px;"></i>Limpar</p-button> 
            </div> 
           </div>
        </p-panel><br><br>      

             
    </div>


   

</div>
